# This file specifies the rules used to generate mock files for interfaces defined in
# packages for the purpose of unit testing. The rules are to be specified of the form:
# package name; mock output file path; package import path; interfaces to mock

# pkg/k8s
k8s; pkg/k8s/mock_controller_generated.go; github.com/openservicemesh/osm/pkg/k8s; Controller

# pkg/catalog
catalog; pkg/catalog/mock_catalog_generated.go; github.com/openservicemesh/osm/pkg/catalog; MeshCataloger

# pkg/debugger
debugger; pkg/debugger/mock_debugger_generated.go; github.com/openservicemesh/osm/pkg/debugger; XDSDebugger

# pkg/compute
compute; pkg/compute/mock_compute_client_generated.go; github.com/openservicemesh/osm/pkg/compute; Interface
