# This file specifies the rules used to generate mock files for interfaces defined in
# packages for the purpose of unit testing. The rules are to be specified of the form:
# package name; mock output file path; package import path; interfaces to mock

# pkg/k8s
k8s; pkg/k8s/mock_controller_generated.go; github.com/openservicemesh/osm/pkg/k8s; Controller

# pkg/smi
smi; pkg/smi/mock_meshspec_generated.go; github.com/openservicemesh/osm/pkg/smi; MeshSpec

# pkg/policy
policy; pkg/policy/mock_client_generated.go; github.com/openservicemesh/osm/pkg/policy; Controller

# pkg/catalog
catalog; pkg/catalog/mock_catalog_generated.go; github.com/openservicemesh/osm/pkg/catalog; MeshCataloger

# pkg/debugger
debugger; pkg/debugger/mock_debugger_generated.go; github.com/openservicemesh/osm/pkg/debugger; CertificateManagerDebugger,MeshCatalogDebugger,XDSDebugger

# pkg/health
health; pkg/health/mock_probes_generated.go; github.com/openservicemesh/osm/pkg/health; Probes

# pkg/endpoint
endpoint; pkg/endpoint/mock_endpoint_provider_generated.go; github.com/openservicemesh/osm/pkg/endpoint; Provider

# pkg/service
service; pkg/service/mock_service_provider_generated.go; github.com/openservicemesh/osm/pkg/service; Provider

# pkg/configurator
configurator; pkg/configurator/mock_client_generated.go; github.com/openservicemesh/osm/pkg/configurator; Configurator
