.settings/
.vscode/
tsconfig.json
jsconfig.json

### Go ###
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

*.out
.glide/

#dlv binaries
debug

### Vim ###
# Swap
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]s[a-rt-v][a-z]
[._]ss[a-gi-z]
[._]sw[a-p]

# IntelliJ / Goland
.idea/

# Emacs
*~
*#*

/bin/
build/
.dev/
.env
_dist/

creds.json
screenlog.*
demo/bin/

## Ignore test coverage files
coverage.json
coverage.txt
coverage.xml
coverage/
report.xml
testoutput.txt

# Certificates etc
*.pem
./certs/
commit_logs
bootstrap.yaml

# Test result folders
test-[0-9]*/

# hugo static site generator
.DS_Store
.sass-cache/
.yarnclean
.publish/*
.publish/
public/*
docs/public/*
node_modules/
vendor/
rootfs/
