.settings/
.vscode/
tsconfig.json
jsconfig.json

### Go ###
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

*.out
.glide/

#dlv binaries
debug

### Vim ###
# Swap
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]s[a-rt-v][a-z]
[._]ss[a-gi-z]
[._]sw[a-p]

# IntelliJ / Goland
.idea/

# Emacs
*~
*#*

/bin/
build/
.dev/
.env

creds.json
screenlog.*
vendor/
demo/bin/
certificates

# macOS files
.DS_Store

# Certificates etc
*.pem
./certs/
