{{- if .Values.OpenServiceMesh.deployGrafana}}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: osm-grafana
  labels:
    app: osm-grafana
spec:
  replicas: 1
  selector:
    matchLabels:
      app: osm-grafana
  strategy:
    type: RollingUpdate
  template:
    metadata:
      labels:
        app: osm-grafana
    spec:
      serviceAccountName: osm-grafana
      containers:
        - name: grafana
          image: "grafana/grafana:7.0.1"
          imagePullPolicy: IfNotPresent
          resources:
            limits:
              cpu: 500m
              memory: 128M
            requests:
              cpu: 100m
              memory: 64M
          volumeMounts:
            - name: osm-grafana-config
              mountPath: "/etc/grafana/grafana.ini"
              subPath: grafana.ini
            - name: osm-grafana-storage
              mountPath: "/var/lib/grafana"
            - name: osm-grafana-datasources
              mountPath: /etc/grafana/provisioning/datasources
              readOnly: true
            - name: osm-grafana-dashboards
              mountPath: /etc/grafana/provisioning/dashboards
              readOnly: true
            - name: osm-grafana-dashboard-definition-controlplane
              mountPath: /etc/grafana/provisioning/dashboards/controlplane
              readOnly: true
            - name: osm-grafana-dashboard-definition-dataplane
              mountPath: /etc/grafana/provisioning/dashboards/dataplane
              readOnly: true
          ports:
            - containerPort: {{.Values.OpenServiceMesh.grafana.port}}
{{- if .Values.OpenServiceMesh.grafana.enableRemoteRendering}}
          env:
          - name: GF_RENDERING_SERVER_URL
            value: "http://osm-grafana:8081/render"
          - name: GF_RENDERING_CALLBACK_URL
            value: "http://osm-grafana:3000/"
          - name: GF_LOG_FILTERS
            value: "rendering:debug"
        - name: renderer
          image: grafana/grafana-image-renderer:2.0.0-beta1
          imagePullPolicy: IfNotPresent
          resources:
            limits:
              cpu: 1
              memory: 256M
            requests:
              cpu: 100m
              memory: 64M
          ports:
            - containerPort: 8081
          env:
          - name: ENABLE_METRICS
            value: "true"
          - name: RENDERING_MODE
            value: "clustered"
          - name: RENDERING_CLUSTERING_MODE
            value: "context"
          - name: RENDERING_CLUSTERING_MAX_CONCURRENCY
            value: "5"
{{- end }}
      volumes:
        - name: osm-grafana-config
          configMap:
            name: osm-grafana-config
        - name: osm-grafana-datasources
          configMap:
            name: osm-grafana-datasources
        - name: osm-grafana-dashboards
          configMap:
            name: osm-grafana-dashboards
        - name: osm-grafana-dashboard-definition-controlplane
          configMap:
            name: osm-grafana-dashboard-definition-controlplane
        - name: osm-grafana-dashboard-definition-dataplane
          configMap:
            name: osm-grafana-dashboard-definition-dataplane
        - name: osm-grafana-storage
          emptyDir: {}
{{- end }}
