{{- if .Values.OpenServiceMesh.deployJaeger }}
kind: Service
apiVersion: v1
metadata:
  name: jaeger
  labels:
    app: jaeger
spec:
  selector:
    app: jaeger
  ports:
  - protocol: TCP
    # Service port and target port are the same
    port: {{ .Values.OpenServiceMesh.tracing.port }}
  type: ClusterIP
{{- end }}
