{{- if .Values.OpenServiceMesh.deployJaeger }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: jaeger
  namespace: {{ include "osm.namespace" . }}
  labels:
    {{- include "osm.labels" . | nindent 4 }}
    app: jaeger
spec:
  replicas: 1
  selector:
    matchLabels:
      app: jaeger
  template:
    metadata:
      labels:
        {{- include "osm.labels" . | nindent 8 }}
        app: jaeger
    spec:
      {{- if not (.Capabilities.APIVersions.Has "security.openshift.io/v1") }}
      {{- include "restricted.securityContext" . | nindent 6 }}
      {{- end }}
      serviceAccountName: jaeger
      containers:
      - name: jaeger
        image: jaegertracing/all-in-one
        args:
          - --collector.zipkin.host-port={{ .Values.OpenServiceMesh.tracing.port }}
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: {{ .Values.OpenServiceMesh.tracing.port }}
        resources:
          limits:
            cpu: 500m
            memory: 512M
          requests:
            cpu: 100m
            memory: 256M
{{- end }}
