apiVersion: v1
kind: ConfigMap
metadata:
  name: osm-config
  namespace: {{ .Release.Namespace }}
data:
  permissive_traffic_policy_mode: {{ .Values.OpenServiceMesh.enablePermissiveTrafficPolicy | default "false" | quote }}
  egress: {{ .Values.OpenServiceMesh.enableEgress | quote }}
  envoy_log_level: {{ .Values.OpenServiceMesh.envoyLogLevel | quote }}
  prometheus_scraping: "true"

{{- if .Values.OpenServiceMesh.tracing.enable }}
  tracing_enable: {{ .Values.OpenServiceMesh.tracing.enable | quote }}
  tracing_address: {{ .Values.OpenServiceMesh.tracing.address | quote }}
  tracing_port: {{ .Values.OpenServiceMesh.tracing.port | quote }}
  tracing_endpoint: {{ .Values.OpenServiceMesh.tracing.endpoint | quote }}
{{- end }}

{{- if .Values.OpenServiceMesh.enableEgress }}
  mesh_cidr_ranges: {{ .Values.OpenServiceMesh.meshCIDRRanges | quote }}
{{- end }}
  use_https_ingress: {{ .Values.OpenServiceMesh.useHTTPSIngress | default "false" | quote }}
