apiVersion: apps/v1
kind: Deployment
metadata:
  name: osm-controller
  labels:
    app: osm-controller
    meshName: {{ .Values.OpenServiceMesh.meshName }}
spec:
  replicas: {{ .Values.OpenServiceMesh.replicaCount }}
  selector:
    matchLabels:
      app: osm-controller
  template:
    metadata:
      labels:
        app: osm-controller
    spec:
      serviceAccountName: {{ .Release.Name }}
      containers:
        - name: osm-controller
          image: "{{ .Values.OpenServiceMesh.image.registry }}/osm-controller:{{ .Values.OpenServiceMesh.image.tag }}"
          imagePullPolicy: {{ .Values.OpenServiceMesh.image.pullPolicy }}
          ports:
            - name: "admin-port"
              containerPort: 15000
            - name: "osm-port"
              containerPort: 15128
          command: ['/osm-controller']
          args: [
            "--verbosity", "trace",
            "--osmNamespace", "{{.Release.Namespace}}",
            "--meshName", "{{.Values.OpenServiceMesh.meshName}}",
            "--init-container-image", "{{.Values.OpenServiceMesh.image.registry}}/init:{{ .Values.OpenServiceMesh.image.tag }}",
            "--sidecar-image", "{{.Values.OpenServiceMesh.sidecarImage}}",
            "--webhookName", "osm-webhook-{{.Values.OpenServiceMesh.meshName}}",
            "--caBundleSecretName", "osm-ca-bundle",
            "--certmanager", "{{.Values.OpenServiceMesh.certManager}}",
            "--vaultHost", "{{.Values.OpenServiceMesh.vault.host}}",
            "--vaultProtocol", "{{.Values.OpenServiceMesh.vault.protocol}}",
            "--vaultToken", "{{.Values.OpenServiceMesh.vault.token}}",
            "--serviceCertValidityMinutes", "{{.Values.OpenServiceMesh.serviceCertValidityMinutes}}",
            {{- if .Values.OpenServiceMesh.enableDebugServer }}
            "--enableDebugServer",
            {{- end }}
            {{- if .Values.OpenServiceMesh.enableBackpressureExperimental }}
            "--enable-backpressure-experimental",
            {{- end }}
            {{- if .Values.OpenServiceMesh.enableHumanReadableLog }}
            "--enable-human-readable-log",
            {{- end }}
          ]
          resources:
            limits:
              cpu: 1.5
              memory: 128M
            requests:
              cpu: 0.5
              memory: 32M
          readinessProbe:
            initialDelaySeconds: 1
            httpGet:
              scheme: HTTPS
              path: /health/ready
              port: 9090
    {{- with .Values.OpenServiceMesh.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
    {{- end }}
