apiVersion: apps/v1
kind: Deployment
metadata:
  name: osm-injector
  namespace: {{ include "osm.namespace" . }}
  labels:
    {{- include "osm.labels" . | nindent 4 }}
    app: osm-injector
    meshName: {{ .Values.OpenServiceMesh.meshName }}
spec:
  {{- if not .Values.OpenServiceMesh.injector.autoScale.enable }}
  replicas: {{ .Values.OpenServiceMesh.injector.replicaCount }}
  {{- end }}
  selector:
    matchLabels:
      app: osm-injector
  template:
    metadata:
      labels:
        {{- include "osm.labels" . | nindent 8 }}
        app: osm-injector
  {{- if .Values.OpenServiceMesh.injector.podLabels }}
  {{- toYaml .Values.OpenServiceMesh.injector.podLabels | nindent 8 }}
  {{- end }}
      annotations:
        prometheus.io/scrape: 'true'
        prometheus.io/port: '9091'
    spec:
      priorityClassName: system-node-critical
      serviceAccountName: {{ .Release.Name }}
      {{- if not (.Capabilities.APIVersions.Has "security.openshift.io/v1") }}
      {{- include "restricted.securityContext" . | nindent 6 }}
      {{- end }}
      nodeSelector:
        kubernetes.io/arch: amd64
        kubernetes.io/os: linux
      initContainers:
        - name: init-osm-injector
          image: {{ .Values.OpenServiceMesh.curlImage }}
          args:
          - /bin/sh
          - -c
          - >
            set -x;
            while [ $(curl --connect-timeout 2 -sw '%{http_code}' "http://osm-bootstrap.{{ include "osm.namespace" . }}.svc.cluster.local:9095/healthz" -o /dev/null) -ne 200 ]; do
              sleep 10;
            done
      containers:
        - name: osm-injector
          image: "{{ include "osmInjector.image" . }}"
          imagePullPolicy: {{ .Values.OpenServiceMesh.image.pullPolicy }}
          ports:
            - name: "sidecar-inject"
              containerPort: 9090
            - name: "metrics"
              containerPort: 9091
          command: ['/osm-injector']
          args: [
            "--verbosity", "{{.Values.OpenServiceMesh.controllerLogLevel}}",
            "--osm-namespace", "{{ include "osm.namespace" . }}",
            "--osm-version", "{{ .Chart.AppVersion }}",
            "--mesh-name", "{{.Values.OpenServiceMesh.meshName}}",
            "--webhook-config-name", "{{.Values.OpenServiceMesh.webhookConfigNamePrefix}}-{{.Values.OpenServiceMesh.meshName}}",
            "--webhook-timeout", "{{.Values.OpenServiceMesh.injector.webhookTimeoutSeconds}}",
            "--ca-bundle-secret-name", "{{.Values.OpenServiceMesh.caBundleSecretName}}",
            "--certificate-manager", "{{.Values.OpenServiceMesh.certificateProvider.kind}}",
            {{ if eq .Values.OpenServiceMesh.certificateProvider.kind "vault" }}
            "--vault-host", "{{.Values.OpenServiceMesh.vault.host}}",
            "--vault-protocol", "{{.Values.OpenServiceMesh.vault.protocol}}",
            "--vault-token", "{{.Values.OpenServiceMesh.vault.token}}",
            {{- end }}
            "--cert-manager-issuer-name", "{{.Values.OpenServiceMesh.certmanager.issuerName}}",
            "--cert-manager-issuer-kind", "{{.Values.OpenServiceMesh.certmanager.issuerKind}}",
            "--cert-manager-issuer-group", "{{.Values.OpenServiceMesh.certmanager.issuerGroup}}",
            "--enable-reconciler={{.Values.OpenServiceMesh.enableReconciler}}",
          ]
          resources:
            limits:
              cpu: "{{.Values.OpenServiceMesh.injector.resource.limits.cpu}}"
              memory: "{{.Values.OpenServiceMesh.injector.resource.limits.memory}}"
            requests:
              cpu: "{{.Values.OpenServiceMesh.injector.resource.requests.cpu}}"
              memory: "{{.Values.OpenServiceMesh.injector.resource.requests.memory}}"
          readinessProbe:
            initialDelaySeconds: 5
            timeoutSeconds: 5
            httpGet:
              scheme: HTTPS
              path: /healthz
              port: 9090
          livenessProbe:
            initialDelaySeconds: 5
            timeoutSeconds: 5
            httpGet:
              scheme: HTTPS
              path: /healthz
              port: 9090
          env:
            # The INJECTOR_POD_NAME env variable sets pod name dynamically, used by osm-injector to register events
            - name: INJECTOR_POD_NAME
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name
    {{- if .Values.OpenServiceMesh.imagePullSecrets }}
      imagePullSecrets:
{{ toYaml .Values.OpenServiceMesh.imagePullSecrets | indent 8 }}
    {{- end }}
    {{- if .Values.OpenServiceMesh.controlPlaneTolerations }}
      tolerations:
{{ toYaml .Values.OpenServiceMesh.controlPlaneTolerations | indent 8 }}
    {{- end }}
