apiVersion: v1
kind: Service
metadata:
  name: osm-controller
  labels:
    app: osm-controller
spec:
  ports:
    - name: osm-port
      port: 15128
      targetPort: 15128
    - name: sidecar-injector
      port: 443
      targetPort: 9090
    - name: debug-port
      port: 9092
      targetPort: 9092
  selector:
    app: osm-controller
