kind: Service
apiVersion: v1
metadata:
  name: zipkin
  labels:
    app: zipkin
spec:
  selector:
    app: zipkin
  ports:
  - protocol: TCP
    port: {{.Values.OpenServiceMesh.zipkin.port}}
    targetPort: {{.Values.OpenServiceMesh.zipkin.port}}
  type: ClusterIP
