apiVersion: config.openservicemesh.io/v1alpha1
kind: MeshConfig
metadata:
  name: osm-mesh-config
spec:
  sidecar:
    enablePrivilegedInitContainer: false
    logLevel: error
    maxDataPlaneConnections: 0
    envoyImage: "envoyproxy/envoy-alpine:v1.18.3"
    initContainerImage: "openservicemesh/init:v0.9.1"
    configResyncInterval: "0s"
  traffic:
    enableEgress: false
    useHTTPSIngress: false
    enablePermissiveTrafficPolicyMode: true
  observability:
    enableDebugServer: true
    outboundPortExclusionList: []
    inboundPortExclusionList: []
    outboundIPRangeExclusionList: []
    tracing:
      enable: false
  certificate:
    serviceCertValidityDuration: 24h
