// OSM theme colors

// primary
$blue: #1128A9;
$green: #67CEB4;
// secondary
$bluem: #569CF5;
$greenl: #58F4CC;
$orange: #FB8143;
$orangel: F29A51;
$bluel: #C1D6F1;
$green-bg: #58F4CC;


// theme defaults
@import "support/functions";
@import "variables_project";
@import "variables";
@import "support/mixins";

@import "../../../../node_modules/bootstrap/scss/bootstrap.scss";

$fa-font-path: "../fonts" !default;
@import "../../../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "../../../../node_modules/@fortawesome/fontawesome-free/scss/solid.scss";
@import "../../../../node_modules/@fortawesome/fontawesome-free/scss/brands.scss";

@import "support/utilities";
@import "colors";
@import "boxes";
@import "blog";
@import "code";
@import "nav";
@import "sidebar-tree";
@import "sidebar-toc";
@import "buttons";
@import "breadcrumb";
@import "alerts";
@import "content";
@import "search";
@import "main-container";
@import "blocks/blocks";
@import "section-index";
@import "pageinfo";

@if $td-enable-google-fonts {
    @import url($web-font-path);
}

footer {
    min-height: 150px;

    @include media-breakpoint-down(md) {
         min-height: 200px;
    }
}

// Adjust anchors vs the fixed menu.
@include media-breakpoint-up(md) {
    .td-offset-anchor:target {
        display: block;
        position: relative;
        top: -4rem;
        visibility: hidden;
    }

    h2[id]:before, h3[id]:before, h4[id]:before, h5[id]:before {
        display: block;
        content: " ";
        margin-top: -5rem;
        height: 5rem;
        visibility: hidden;
    }
}


// OSM Typography
body {
    font-family: BlinkMacSystemFont,-apple-system,segoe ui,roboto,oxygen,ubuntu,cantarell,fira sans,droid sans,helvetica neue,helvetica,arial,sans-serif;
    line-height: 1.636;
    font-size: 1.125rem;
    // color: $blue;
    color: #4a4a4a;
}

.breadcrumb {
    margin-top: -0.425rem;


    .breadcrumb-item + .breadcrumb-item::before {
        color: $greenl;
    }

    a {
        color: $bluem;
    }
}

// Left side menu
.td-sidebar {
    background: linear-gradient(0deg,#fff 0%,#e6fff8 100%);
    border-right: none;

    .td-sidebar-nav {
        margin-top: 1rem;

        a {
            color: desaturate($blue, 25%);
            
            &.active {
                color: $blue;
            }
        }
    }
}

.td-sidebar__inner {
    top: 7.5rem;
}

.td-navbar {
    background-color: #FEFEFE;
    background-image: url(../images/osm-web-top.jpg),url(../images/osm-web-tile.png);
    background-repeat: no-repeat,repeat-x;
    background-position: right bottom;
    background-size: cover;
    padding-top: 40px;

    .navbar-brand {
        .navbar-logo {
            position: absolute;
            left: -0.25rem;
            top: 0.75rem;
            max-width: 10vw;

            svg {
                width: auto;
                height: 108px;
            }
        }

        span.text-uppercase {
            position: absolute;
            left: -999em;
        }
    }

    .nav-item.dropdown {
        border-left: 1px solid $bluel;
        padding-left: 0.5rem;
        
        a {
            font-weight: normal;
        }
    }
}

.td-outer {
    padding-top: 3.5rem;
}

.td-search-input {
    background: white;
    border: none;
    border-radius: 3rem;
    outline: none;
    font-size: 0.85rem;
    box-shadow: none;
    color: $bluem;
}

// Main content column
.td-content {
    padding: 0 1vw;

    h1, h2, h3 {
        color: $blue;
        margin: 0.667em 0;
    }

    h1 {
        font-family: 'Spartan';
        font-weight: normal;
        line-height: 1.425;
        font-weight: bold;
        margin-top: 3.35rem;
    }

    h1 + p {
        font-size: 1.25rem;
        color: desaturate($blue, 35%);
        line-height: 1.825;
        margin-bottom: 4.25rem;
    }

    p + h3 {
        margin-top: 3.5rem;
    }

    h2 {
        font-size: 1.33rem;
    }
    
    p {
        line-height: 1.636;
        color: desaturate($blue, 75%);
    }
    
    ul, ol, li, blockquote {
        line-height: 2;
        margin-bottom: 3.25rem;
    }

    a {
        position: relative;
        border-bottom: 3px solid rgba(180,180,180,0.2);
        
        &:after {
            width: 10%;
            height: 3px;
            display: inline-block;
            content: " ";
            position: absolute;
            background-color: $bluem;
            left: 50%;
            bottom: -3px;
            opacity: 0;
            transition: all 0.2s ease;
        }

        &:hover {
            &:after {
                left: 0%;
                width: 100%;
                opacity: 1;
            }
        }
    }

    code,
    li code,
    table code,
    p code {
        background: lighten(desaturate($green-bg, 15%), 25%);
    }

    
    div.code-toolbar
    pre {
        background:
            linear-gradient(180deg, 
            lighten(desaturate($green-bg, 20%), 25%) 0%,
            lighten(desaturate($green-bg, 25%), 30%) 100%
        );
        border-radius: 1rem;
        margin-top: 2rem;
        margin-bottom: 2.5rem;

        code[class*="language-"],
        pre[class*="language-"] {
            background: transparent !important;
        }
    }

    .td-content .highlight,
    .highlight {
        border: none;
        margin: 0;
    }

    .td-content code {
        background: transparent;
    }
}

// Right hand side
.td-toc {
    top: 7.25rem !important;
    border-left: 1px solid $greenl;
    
    li {
        margin: 0.5rem 0;
    }
}

footer {
    width: 100%;
    max-width: 100%;
    border-top: 1px solid rgba(100,100,100,0.125);
    padding: 2.5rem 0 3.5rem !important;
    background-color: #FAFAFA;
    min-height: 25em;
    position: relative;
    margin-left: -5vw;
    margin-right: -5vw;
    
    a {
      color: $bluem;
    }
    
    img {
      max-width: 12.5vw;
    }
  
    nav {
      float: right;
      margin: 1rem 0 0;
    }
  
    h4 {
      line-height: 1.667;
    }
  
    .footer-cncf {
      color: $blue;
      font-family: Spartan;
      font-weight: 600;
      font-size: 1.333rem;
      padding-right: 5vw;
      margin: 1em 0 1.5em;
  
      a {
        font-size: 1.425rem;
        letter-spacing: 0.035em;
        color: $blue;
      }
  
      img {
        max-width: 20vw;
      }
    }
  
    .footer-legal {
      margin: 0;
      font-size: 1rem;
    }
  
    .navbar-menu {
      a.navbar-item {
        margin: 0.25rem 0.75rem 0;
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 0.2rem;
        border-bottom: 3px solid lighten($bluel, 7.5%);
  
        &:hover {
          border-bottom-color: $greenl;
        }
      }
    }
  }
