# Default values for osm.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.
OpenServiceMesh:
  replicaCount: 1
  image:
    registry: openservicemesh
    pullPolicy: Always
    tag: v0.3.0
  imagePullSecrets: []
  sidecarImage: envoyproxy/envoy-alpine:v1.15.0
  prometheus:
    port: 7070
    retention:
      time: 15d
  certficateManager: tresor
  vault:
    host:
    protocol: http
    token:
    role: openservicemesh
  certmanager:
    issuerName: osm-ca
    issuerKind: Issuer
    issuerGroup: cert-manager
  serviceCertValidityMinutes: 1
  caBundleSecretName: osm-ca-bundle
  grafana:
    port: 3000

  enableDebugServer: false
  enablePermissiveTrafficPolicy: false
  enableBackpressureExperimental: false
  enableEgress: false
  enableMetricsStack: true
  meshName: osm
  meshCIDRRanges: 0.0.0.0/0
  useHTTPSIngress: false
  envoyLogLevel: debug

  # Set deployZipkin to true to deploy a Zipkin cluster in the
  # namespace where OSM resides. Set this to false if Zipkin
  # has already been installed or is not needed.
  deployZipkin: false

  # The following section configures Zipkin tracing for the Envoys
  # connected to the OSM control plane.
  zipkin:

    ## Toggles Envoy's tracing functionality on/off
    ## for all proxies in the mesh.
    enable: false

    # Informs Envoys where the Zipkin spans should be sent
    address: "zipkin.osm-system.svc.cluster.local"

    # Port of the Zipkin cluster
    port: 9411

    # Endpoint for the Zipkin cluster
    endpoint: "/api/v2/spans"
