<!doctype html>
<html itemscope="" itemtype="http://schema.org/WebPage" lang="en">
  <head>
      <meta content="Book Thief" name="description">
      <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
      <title>Book Thief</title>
      <style>
        #navbar {
            width: 100%;
            height: 50px;
            display: table;
            border-spacing: 0;
            white-space: nowrap;
            line-height: normal;
            background-color: #0078D4;
            background-position: left top;
            background-repeat-x: repeat;
            background-image: none;
            color: white;
            font: 2.2em "Fira Sans", sans-serif;
        }
        #main {
            padding: 5pt 5pt 5pt 5pt;
            font: 1.8em "Fira Sans", sans-serif;
        }
        li {
            padding: 5pt 5pt 5pt 5pt;
            font: 1.2em "Consolas", sans-serif;
        }
      </style>
      <script>
        setTimeout(function(){window.location.reload(1);}, 1500);
      </script>
  </head>
  <body bgcolor="#fff">
    <div id="navbar">
      &#x1f99d; {{.Identity}}
    </div>
    <div id="main">
      <ul>
        <li>Total books stolen: <strong>{{.BooksStolen}}</strong>
          <ul>
            <li>from bookstore V1: <strong>{{.BooksStolenV1}}</strong>
            <li>from bookstore V2: <strong>{{.BooksStolenV2}}</strong>
          </ul>
        </li>
      </ul>
    </div>

    <br/><br/><br/><br/>
    <br/><br/><br/><br/>
    <br/><br/><br/><br/>

    Current Time: <strong>{{.Time}}</strong>
  </body>
</html>
