node:
  id: nodeElmo
  cluster: clusterElmo

admin:
  access_log_path: "/dev/stdout"
  address:
    socket_address: {address: 0.0.0.0, port_value: 15000}

dynamic_resources:
  cds_config:
    api_config_source:
      api_type: GRPC
      grpc_services:
        envoy_grpc:
          cluster_name: cds_server_mtls


static_resources:
  listeners:

  - name: listener___15001
    address:
      socket_address: {address: 0.0.0.0, port_value: 15001}

    filter_chains:
      filters:
      - name: envoy.http_connection_manager
        config:
          stat_prefix: counter_service
          route_config:
            name: bookstore_route
            virtual_hosts:
            - name: bookstore_hosts
              domains: ["*"]
              routes:
              - match: { prefix: "/" }
                route:
                  weighted_clusters:
                    clusters:
                      - name: bookstore.mesh  ## HACKS(delyan): This must match the domain name we are curling
                        weight: 100

          http_filters:
          - name: envoy.router

          access_log:
          - config:
              path: "/dev/stdout"
              format: ">> [%START_TIME%] %PROTOCOL% %BYTES_RECEIVED% %BYTES_SENT% %RESPONSE_FLAGS%
                %UPSTREAM_HOST% %UPSTREAM_CLUSTER% %REQUESTED_SERVER_NAME%\n"
            name: envoy.file_access_log
    #use_original_dst: true


  clusters:

  - name: bookstore
    connect_timeout: 15s
    type: STRICT_DNS

    tls_context:
      common_tls_context:
        tls_certificate_sds_secret_configs:
        - name: server_cert
          sds_config:
            api_config_source:
              api_type: GRPC
              grpc_services:
                envoy_grpc:
                  cluster_name: sds

    lb_policy: ROUND_ROBIN
    hosts:
      - socket_address:
          address: bookstore.smc.svc.cluster.local
          port_value: 83  # maps to 15003

  - name: bookstore.mesh  ## HACKS(delyan): This must match the domain name we are curling
    connect_timeout: 5s
    lb_policy: ROUND_ROBIN
    type: EDS
    eds_cluster_config:
      eds_config:
        api_config_source:
          api_type: GRPC
          grpc_services:
            envoy_grpc:
              cluster_name: eds

    tls_context:
      common_tls_context:
        tls_certificate_sds_secret_configs:
        - name: server_cert
          sds_config:
            api_config_source:
              api_type: GRPC
              grpc_services:
                envoy_grpc:
                  cluster_name: sds

  - name: sds
    connect_timeout: 5s
    type: LOGICAL_DNS
    http2_protocol_options: {}
    tls_context:
      common_tls_context:
        tls_params:
          tls_minimum_protocol_version: TLSv1_2
          tls_maximum_protocol_version: TLSv1_3
          cipher_suites: "[ECDHE-ECDSA-AES128-GCM-SHA256|ECDHE-ECDSA-CHACHA20-POLY1305]"
        tls_certificates:
          - certificate_chain: { filename: "/etc/ssl/certs/cert.pem" }
            private_key: { filename: "/etc/ssl/certs/key.pem" }
    load_assignment:
      cluster_name: sds
      endpoints:
      - lb_endpoints:
        - endpoint:
            address:
              socket_address:
                address: sds.smc.svc.cluster.local
                port_value: 15123

  - name: eds
    connect_timeout: 5s
    type: LOGICAL_DNS
    http2_protocol_options: {}
    tls_context:
      common_tls_context:
        tls_params:
          tls_minimum_protocol_version: TLSv1_2
          tls_maximum_protocol_version: TLSv1_3
          cipher_suites: "[ECDHE-ECDSA-AES128-GCM-SHA256|ECDHE-ECDSA-CHACHA20-POLY1305]"
        tls_certificates:
          - certificate_chain: { filename: "/etc/ssl/certs/cert.pem" }
            private_key: { filename: "/etc/ssl/certs/key.pem" }
    load_assignment:
      cluster_name: eds
      endpoints:
      - lb_endpoints:
        - endpoint:
            address:
              socket_address:
                address: eds.smc.svc.cluster.local
                port_value: 15124


  - name: cds_server_mtls
    connect_timeout: 5s
    type: LOGICAL_DNS
    http2_protocol_options: {}
    tls_context:
      common_tls_context:
        tls_params:
          tls_minimum_protocol_version: TLSv1_2
          tls_maximum_protocol_version: TLSv1_3
          cipher_suites: "[ECDHE-ECDSA-AES128-GCM-SHA256|ECDHE-ECDSA-CHACHA20-POLY1305]"
        tls_certificates:
          - certificate_chain: { filename: "/etc/ssl/certs/cert.pem" }
            private_key: { filename: "/etc/ssl/certs/key.pem" }
    load_assignment:
      cluster_name: cds
      endpoints:
      - lb_endpoints:
        - endpoint:
            address:
              socket_address:
                address: cds.smc.svc.cluster.local
                port_value: 15125


  - name: rds
    connect_timeout: 5s
    type: LOGICAL_DNS
    http2_protocol_options: {}
    tls_context:
      common_tls_context:
        tls_params:
          tls_minimum_protocol_version: TLSv1_2
          tls_maximum_protocol_version: TLSv1_3
          cipher_suites: "[ECDHE-ECDSA-AES128-GCM-SHA256|ECDHE-ECDSA-CHACHA20-POLY1305]"
        tls_certificates:
          - certificate_chain: { filename: "/etc/ssl/certs/cert.pem" }
            private_key: { filename: "/etc/ssl/certs/key.pem" }
    load_assignment:
      cluster_name: rds
      endpoints:
      - lb_endpoints:
        - endpoint:
            address:
              socket_address:
                address: rds.smc.svc.cluster.local
                port_value: 15126
