name: Pre-release
on:
  push:
    tags:
      - "pre-rel-v*"

jobs:
  version:
    name: Set Version from git ref
    runs-on: ubuntu-latest
    outputs:
      version: ${{ steps.version.outputs.version }}
    steps:
      - id: version
        run: echo "::set-output name=version::$(sed 's#^refs/tags/pre-rel-\(.*\)#\1#' <<< '${{ github.ref }}')"

  images:
    name: Docker Images
    runs-on: ubuntu-latest
    needs: version
    env:
      DOCKER_USER: ${{ secrets.RELEASE_DOCKER_USER }}
      DOCKER_PASS: ${{ secrets.RELEASE_DOCKER_PASS }}
      VERSION: ${{ needs.version.outputs.version }}
      BUILD_DATE: '$$(date +%Y-%m-%d-%H:%M)'
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Restore Module Cache
        uses: actions/cache@v2
        with:
          path: ~/go/pkg/mod
          key: ${{ runner.os }}-gomod2-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-gomod2-
      - name: Restore Build Cache
        uses: actions/cache@v2
        with:
          path: ~/.cache/go-build
          key: ${{ runner.os }}-gobuild-${{ hashFiles('**/*.go') }}
      - name: Setup Go 1.16
        uses: actions/setup-go@v1
        with:
          go-version: 1.16
      - name: Docker Login
        run: docker login --username "$DOCKER_USER" --password-stdin <<< "$DOCKER_PASS"
      - name: Push images with version tag
        env:
          CTR_TAG: ${{ needs.version.outputs.version }}
        run: make docker-push VERIFY_TAGS=true
      - name: Push images with latest tag
        env:
          CTR_TAG: latest
        run: make docker-push
      - name: Upload image digest
        uses: actions/upload-artifact@v2
        with:
          name: osm_image_digests
          path: /tmp/osm_image_digest_*

  imagescan:
    name: Scan images for security vulnerabilities
    runs-on: ubuntu-latest
    needs: images
    env:
      CTR_TAG: ${{ needs.version.outputs.version }}
      CTR_REGISTRY: openservicemesh
    steps:
      - name: Checkout
        uses: actions/checkout@v1
      - name: Restore Module Cache
        uses: actions/cache@v2
        with:
          path: ~/go/pkg/mod
          key: ${{ runner.os }}-gomod2-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-gomod2-
      - name: Restore Build Cache
        uses: actions/cache@v2
        with:
          path: ~/.cache/go-build
          key: ${{ runner.os }}-gobuild-${{ hashFiles('**/*.go') }}
      - name: Scan docker images for vulnerabilities
        run: make trivy-scan-images